@font-face {
  font-family: 'Muli Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Regular'), url('./assets/fonts/Muli-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Muli Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Muli Bold'), url('./assets/fonts/Muli-Bold.woff') format('woff');
}

body {
  font-family: 'Muli Regular';
}

.App {
  text-align: center;
}

.header__upper {
  padding: 30px 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
