@font-face {
  font-family: 'Muli Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Muli Regular'), url('./assets/fonts/Muli-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Muli Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Muli Bold'), url('./assets/fonts/Muli-Bold.woff') format('woff');
}

body {
  font-family: 'Muli Regular';
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__upper {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button {
  padding: 12px;
  background: #FC7E01;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 1rem;
}

h2  {
  color: #EA4505;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}
